
.negrita {
    font-weight: bold; 
    color: #333; 
  }
  
  .cursiva {
    font-style: italic; 
    color: #333;
  }
  
  .negrita-cursiva {
    font-weight: bold; 
    font-style: italic; 
    color: #333; 
  }
  