
.texto-pequeno {
    font-size: 14px; 
    color: #333; 
  }
  
  .texto-mediano {
    font-size: 18px; 
    color: #333;
  }
  
  .texto-grande {
    font-size: 24px; 
    color: #333; 
  }
  